@using core
@using ClothesClub.Interfaces
@page "/memberoverview"
@inject IMemberService MemberService


<PageTitle>Members</PageTitle>

<h1>Members</h1>

<p>OverView of Members</p>

@if (membersSaved == null || membersSaved.Count == 0)
{
	<p><em>No members found.</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>PhoneNumber</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var member in membersSaved)
			{
				<tr>
					<td>@member.Name</td>
					<td>@member.Email</td>
					<td>@member.Phonenumber</td>
				</tr>
			}
		</tbody>
	</table>
}
<EditForm Model="@newmember" OnSubmit="@HandleSubmit" class="row p-3">
<div>
	<label for="Description">Description</label>
	<InputText @bind-value="newmember.Name" placeholder="Name" class="form-control mb-1" />
	</div>
	<div>
	<label for="Description">Description</label>
	<InputText @bind-value="newmember.Email" placeholder="Email" class="form-control mb-1" />
	</div>
	<div>
	<label for="Description">Description</label>
	<InputText @bind-value="newmember.Phonenumber" placeholder="Phone Number" class="form-control mb-2" />
	</div>
	<input type="submit" class="btn btn-primary" value="Submit"/>
</EditForm>
@code {
	private List<MemberItem> membersSaved = new();

	protected override void OnInitialized()
	{
		membersSaved = MemberService.GetAll();
	}
	private MemberItem newmember = new();

	// 🔹 NYT: Liste til at gemme produkter
	private List<MemberItem> productList = new();


	private string message = "";

	private void HandleSubmit()
	{
		productList.Add(newmember);

		newmember = new MemberItem();


		message = "Product added successfully!";
	}
}


